.tabulator-col[tabulator-field="anglerfish.png"] .tabulator-col-title::before {
	background-image: url("images/anglerfish.png");
}

.tabulator-col[tabulator-field="anti-sting concoction.png"] .tabulator-col-title::before {
	background-image: url("images/anti-sting concoction.png");
}

.tabulator-col[tabulator-field="ashlands gourmet bowl.png"] .tabulator-col-title::before {
	background-image: url("images/ashlands gourmet bowl.png");
}

.tabulator-col[tabulator-field="asksvin tail.png"] .tabulator-col-title::before {
	background-image: url("images/asksvin tail.png");
}

.tabulator-col[tabulator-field="barley wine.png"] .tabulator-col-title::before {
	background-image: url("images/barley wine.png");
}

.tabulator-col[tabulator-field="barley.png"] .tabulator-col-title::before {
	background-image: url("images/barley.png");
}

.tabulator-col[tabulator-field="berserkir mead.png"] .tabulator-col-title::before {
	background-image: url("images/berserkir mead.png");
}

.tabulator-col[tabulator-field="black forest buffet platter.png"] .tabulator-col-title::before {
	background-image: url("images/black forest buffet platter.png");
}

.tabulator-col[tabulator-field="black soup.png"] .tabulator-col-title::before {
	background-image: url("images/black soup.png");
}

.tabulator-col[tabulator-field="blood clot.png"] .tabulator-col-title::before {
	background-image: url("images/blood clot.png");
}

.tabulator-col[tabulator-field="blood pudding.png"] .tabulator-col-title::before {
	background-image: url("images/blood pudding.png");
}

.tabulator-col[tabulator-field="bloodbag.png"] .tabulator-col-title::before {
	background-image: url("images/bloodbag.png");
}

.tabulator-col[tabulator-field="blueberries.png"] .tabulator-col-title::before {
	background-image: url("images/blueberries.png");
}

.tabulator-col[tabulator-field="boar jerky.png"] .tabulator-col-title::before {
	background-image: url("images/boar jerky.png");
}

.tabulator-col[tabulator-field="boar meat.png"] .tabulator-col-title::before {
	background-image: url("images/boar meat.png");
}

.tabulator-col[tabulator-field="bonemaw meat.png"] .tabulator-col-title::before {
	background-image: url("images/bonemaw meat.png");
}

.tabulator-col[tabulator-field="bread.png"] .tabulator-col-title::before {
	background-image: url("images/bread.png");
}

.tabulator-col[tabulator-field="carrot soup.png"] .tabulator-col-title::before {
	background-image: url("images/carrot soup.png");
}

.tabulator-col[tabulator-field="carrot.png"] .tabulator-col-title::before {
	background-image: url("images/carrot.png");
}

.tabulator-col[tabulator-field="chicken meat.png"] .tabulator-col-title::before {
	background-image: url("images/chicken meat.png");
}

.tabulator-col[tabulator-field="cloudberries.png"] .tabulator-col-title::before {
	background-image: url("images/cloudberries.png");
}

.tabulator-col[tabulator-field="coal.png"] .tabulator-col-title::before {
	background-image: url("images/coal.png");
}

.tabulator-col[tabulator-field="cooked asksvin tail.png"] .tabulator-col-title::before {
	background-image: url("images/cooked asksvin tail.png");
}

.tabulator-col[tabulator-field="cooked boar meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked boar meat.png");
}

.tabulator-col[tabulator-field="cooked bonemaw meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked bonemaw meat.png");
}

.tabulator-col[tabulator-field="cooked chicken meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked chicken meat.png");
}

.tabulator-col[tabulator-field="cooked deer meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked deer meat.png");
}

.tabulator-col[tabulator-field="cooked egg.png"] .tabulator-col-title::before {
	background-image: url("images/cooked egg.png");
}

.tabulator-col[tabulator-field="cooked fish.png"] .tabulator-col-title::before {
	background-image: url("images/cooked fish.png");
}

.tabulator-col[tabulator-field="cooked hare meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked hare meat.png");
}

.tabulator-col[tabulator-field="cooked lox meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked lox meat.png");
}

.tabulator-col[tabulator-field="cooked seeker meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked seeker meat.png");
}

.tabulator-col[tabulator-field="cooked serpent meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked serpent meat.png");
}

.tabulator-col[tabulator-field="cooked volture meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked volture meat.png");
}

.tabulator-col[tabulator-field="cooked wolf meat.png"] .tabulator-col-title::before {
	background-image: url("images/cooked wolf meat.png");
}

.tabulator-col[tabulator-field="cured squirrel hamstring.png"] .tabulator-col-title::before {
	background-image: url("images/cured squirrel hamstring.png");
}

.tabulator-col[tabulator-field="dandelion.png"] .tabulator-col-title::before {
	background-image: url("images/dandelion.png");
}

.tabulator-col[tabulator-field="deer meat.png"] .tabulator-col-title::before {
	background-image: url("images/deer meat.png");
}

.tabulator-col[tabulator-field="deer stew.png"] .tabulator-col-title::before {
	background-image: url("images/deer stew.png");
}

.tabulator-col[tabulator-field="draught of vananidir.png"] .tabulator-col-title::before {
	background-image: url("images/draught of vananidir.png");
}

.tabulator-col[tabulator-field="egg.png"] .tabulator-col-title::before {
	background-image: url("images/egg.png");
}

.tabulator-col[tabulator-field="entrails.png"] .tabulator-col-title::before {
	background-image: url("images/entrails.png");
}

.tabulator-col[tabulator-field="eyescream.png"] .tabulator-col-title::before {
	background-image: url("images/eyescream.png");
}

.tabulator-col[tabulator-field="feathers.png"] .tabulator-col-title::before {
	background-image: url("images/feathers.png");
}

.tabulator-col[tabulator-field="fiddlehead.png"] .tabulator-col-title::before {
	background-image: url("images/fiddlehead.png");
}

.tabulator-col[tabulator-field="fiery spice powder.png"] .tabulator-col-title::before {
	background-image: url("images/fiery spice powder.png");
}

.tabulator-col[tabulator-field="fiery svinstew.png"] .tabulator-col-title::before {
	background-image: url("images/fiery svinstew.png");
}

.tabulator-col[tabulator-field="fish and bread.png"] .tabulator-col-title::before {
	background-image: url("images/fish and bread.png");
}

.tabulator-col[tabulator-field="fish wraps.png"] .tabulator-col-title::before {
	background-image: url("images/fish wraps.png");
}

.tabulator-col[tabulator-field="fish.png"] .tabulator-col-title::before {
	background-image: url("images/fish.png");
}

.tabulator-col[tabulator-field="fragrant bundle.png"] .tabulator-col-title::before {
	background-image: url("images/fragrant bundle.png");
}

.tabulator-col[tabulator-field="freeze gland.png"] .tabulator-col-title::before {
	background-image: url("images/freeze gland.png");
}

.tabulator-col[tabulator-field="fresh seaweed.png"] .tabulator-col-title::before {
	background-image: url("images/fresh seaweed.png");
}

.tabulator-col[tabulator-field="frost resistance.png"] .tabulator-col-title::before {
	background-image: url("images/frost resistance.png");
}

.tabulator-col[tabulator-field="grasslands herbalist harvest.png"] .tabulator-col-title::before {
	background-image: url("images/grasslands herbalist harvest.png");
}

.tabulator-col[tabulator-field="greydwarf eye.png"] .tabulator-col-title::before {
	background-image: url("images/greydwarf eye.png");
}

.tabulator-col[tabulator-field="grilled neck tail.png"] .tabulator-col-title::before {
	background-image: url("images/grilled neck tail.png");
}

.tabulator-col[tabulator-field="grouper.png"] .tabulator-col-title::before {
	background-image: url("images/grouper.png");
}

.tabulator-col[tabulator-field="hare meat.png"] .tabulator-col-title::before {
	background-image: url("images/hare meat.png");
}

.tabulator-col[tabulator-field="hearty mountain logger's stew.png"] .tabulator-col-title::before {
	background-image: url("images/hearty mountain logger's stew.png");
}

.tabulator-col[tabulator-field="herbs of the hidden hills.png"] .tabulator-col-title::before {
	background-image: url("images/herbs of the hidden hills.png");
}

.tabulator-col[tabulator-field="honey glazed chicken.png"] .tabulator-col-title::before {
	background-image: url("images/honey glazed chicken.png");
}

.tabulator-col[tabulator-field="honey.png"] .tabulator-col-title::before {
	background-image: url("images/honey.png");
}

.tabulator-col[tabulator-field="jotun puffs.png"] .tabulator-col-title::before {
	background-image: url("images/jotun puffs.png");
}

.tabulator-col[tabulator-field="lightfoot mead.png"] .tabulator-col-title::before {
	background-image: url("images/lightfoot mead.png");
}

.tabulator-col[tabulator-field="lingering stamina.png"] .tabulator-col-title::before {
	background-image: url("images/lingering stamina.png");
}

.tabulator-col[tabulator-field="love potion.png"] .tabulator-col-title::before {
	background-image: url("images/love potion.png");
}

.tabulator-col[tabulator-field="lox meat pie.png"] .tabulator-col-title::before {
	background-image: url("images/lox meat pie.png");
}

.tabulator-col[tabulator-field="lox meat.png"] .tabulator-col-title::before {
	background-image: url("images/lox meat.png");
}

.tabulator-col[tabulator-field="magecap.png"] .tabulator-col-title::before {
	background-image: url("images/magecap.png");
}

.tabulator-col[tabulator-field="major healing.png"] .tabulator-col-title::before {
	background-image: url("images/major healing.png");
}

.tabulator-col[tabulator-field="marinated greens.png"] .tabulator-col-title::before {
	background-image: url("images/marinated greens.png");
}

.tabulator-col[tabulator-field="mashed meat.png"] .tabulator-col-title::before {
	background-image: url("images/mashed meat.png");
}

.tabulator-col[tabulator-field="meat platter.png"] .tabulator-col-title::before {
	background-image: url("images/meat platter.png");
}

.tabulator-col[tabulator-field="medium healing.png"] .tabulator-col-title::before {
	background-image: url("images/medium healing.png");
}

.tabulator-col[tabulator-field="medium stamina.png"] .tabulator-col-title::before {
	background-image: url("images/medium stamina.png");
}

.tabulator-col[tabulator-field="minced meat sauce.png"] .tabulator-col-title::before {
	background-image: url("images/minced meat sauce.png");
}

.tabulator-col[tabulator-field="minor eitr.png"] .tabulator-col-title::before {
	background-image: url("images/minor eitr.png");
}

.tabulator-col[tabulator-field="minor healing.png"] .tabulator-col-title::before {
	background-image: url("images/minor healing.png");
}

.tabulator-col[tabulator-field="minor stamina.png"] .tabulator-col-title::before {
	background-image: url("images/minor stamina.png");
}

.tabulator-col[tabulator-field="misthare supreme.png"] .tabulator-col-title::before {
	background-image: url("images/misthare supreme.png");
}

.tabulator-col[tabulator-field="mountain peak pepper.png"] .tabulator-col-title::before {
	background-image: url("images/mountain peak pepper.png");
}

.tabulator-col[tabulator-field="muckshake.png"] .tabulator-col-title::before {
	background-image: url("images/muckshake.png");
}

.tabulator-col[tabulator-field="mushroom omelette.png"] .tabulator-col-title::before {
	background-image: url("images/mushroom omelette.png");
}

.tabulator-col[tabulator-field="mushroom.png"] .tabulator-col-title::before {
	background-image: url("images/mushroom.png");
}

.tabulator-col[tabulator-field="mushrooms galore รก la mistlands.png"] .tabulator-col-title::before {
	background-image: url("images/mushrooms galore รก la mistlands.png");
}

.tabulator-col[tabulator-field="neck tail.png"] .tabulator-col-title::before {
	background-image: url("images/neck tail.png");
}

.tabulator-col[tabulator-field="onion soup.png"] .tabulator-col-title::before {
	background-image: url("images/onion soup.png");
}

.tabulator-col[tabulator-field="onion.png"] .tabulator-col-title::before {
	background-image: url("images/onion.png");
}

.tabulator-col[tabulator-field="ooze.png"] .tabulator-col-title::before {
	background-image: url("images/ooze.png");
}

.tabulator-col[tabulator-field="perch.png"] .tabulator-col-title::before {
	background-image: url("images/perch.png");
}

.tabulator-col[tabulator-field="piquant pie.png"] .tabulator-col-title::before {
	background-image: url("images/piquant pie.png");
}

.tabulator-col[tabulator-field="plains pie picnic.png"] .tabulator-col-title::before {
	background-image: url("images/plains pie picnic.png");
}

.tabulator-col[tabulator-field="poison resistance.png"] .tabulator-col-title::before {
	background-image: url("images/poison resistance.png");
}

.tabulator-col[tabulator-field="powdered dragon eggshells.png"] .tabulator-col-title::before {
	background-image: url("images/powdered dragon eggshells.png");
}

.tabulator-col[tabulator-field="pungent pebbles.png"] .tabulator-col-title::before {
	background-image: url("images/pungent pebbles.png");
}

.tabulator-col[tabulator-field="queens jam.png"] .tabulator-col-title::before {
	background-image: url("images/queens jam.png");
}

.tabulator-col[tabulator-field="raspberries.png"] .tabulator-col-title::before {
	background-image: url("images/raspberries.png");
}

.tabulator-col[tabulator-field="roasted crust pie.png"] .tabulator-col-title::before {
	background-image: url("images/roasted crust pie.png");
}

.tabulator-col[tabulator-field="royal jelly.png"] .tabulator-col-title::before {
	background-image: url("images/royal jelly.png");
}

.tabulator-col[tabulator-field="sailor's bounty.png"] .tabulator-col-title::before {
	background-image: url("images/sailor's bounty.png");
}

.tabulator-col[tabulator-field="salad.png"] .tabulator-col-title::before {
	background-image: url("images/salad.png");
}

.tabulator-col[tabulator-field="sap.png"] .tabulator-col-title::before {
	background-image: url("images/sap.png");
}

.tabulator-col[tabulator-field="sausages.png"] .tabulator-col-title::before {
	background-image: url("images/sausages.png");
}

.tabulator-col[tabulator-field="scale hide.png"] .tabulator-col-title::before {
	background-image: url("images/scale hide.png");
}

.tabulator-col[tabulator-field="scorching medley.png"] .tabulator-col-title::before {
	background-image: url("images/scorching medley.png");
}

.tabulator-col[tabulator-field="seafarer's herbs.png"] .tabulator-col-title::before {
	background-image: url("images/seafarer's herbs.png");
}

.tabulator-col[tabulator-field="seeker aspic.png"] .tabulator-col-title::before {
	background-image: url("images/seeker aspic.png");
}

.tabulator-col[tabulator-field="seeker meat.png"] .tabulator-col-title::before {
	background-image: url("images/seeker meat.png");
}

.tabulator-col[tabulator-field="serpent meat.png"] .tabulator-col-title::before {
	background-image: url("images/serpent meat.png");
}

.tabulator-col[tabulator-field="serpent stew.png"] .tabulator-col-title::before {
	background-image: url("images/serpent stew.png");
}

.tabulator-col[tabulator-field="sizzling berry broth.png"] .tabulator-col-title::before {
	background-image: url("images/sizzling berry broth.png");
}

.tabulator-col[tabulator-field="smoke puff.png"] .tabulator-col-title::before {
	background-image: url("images/smoke puff.png");
}

.tabulator-col[tabulator-field="sparkling shroomshake.png"] .tabulator-col-title::before {
	background-image: url("images/sparkling shroomshake.png");
}

.tabulator-col[tabulator-field="spicy marmalade.png"] .tabulator-col-title::before {
	background-image: url("images/spicy marmalade.png");
}

.tabulator-col[tabulator-field="stuffed mushroom.png"] .tabulator-col-title::before {
	background-image: url("images/stuffed mushroom.png");
}

.tabulator-col[tabulator-field="swamp dweller's delight.png"] .tabulator-col-title::before {
	background-image: url("images/swamp dweller's delight.png");
}

.tabulator-col[tabulator-field="tasty.png"] .tabulator-col-title::before {
	background-image: url("images/tasty.png");
}

.tabulator-col[tabulator-field="thistle.png"] .tabulator-col-title::before {
	background-image: url("images/thistle.png");
}

.tabulator-col[tabulator-field="toadstool.png"] .tabulator-col-title::before {
	background-image: url("images/toadstool.png");
}

.tabulator-col[tabulator-field="tonic of ratatosk.png"] .tabulator-col-title::before {
	background-image: url("images/tonic of ratatosk.png");
}

.tabulator-col[tabulator-field="trollfish.png"] .tabulator-col-title::before {
	background-image: url("images/trollfish.png");
}

.tabulator-col[tabulator-field="turnip stew.png"] .tabulator-col-title::before {
	background-image: url("images/turnip stew.png");
}

.tabulator-col[tabulator-field="turnip.png"] .tabulator-col-title::before {
	background-image: url("images/turnip.png");
}

.tabulator-col[tabulator-field="vineberry cluster.png"] .tabulator-col-title::before {
	background-image: url("images/vineberry cluster.png");
}

.tabulator-col[tabulator-field="volture egg.png"] .tabulator-col-title::before {
	background-image: url("images/volture egg.png");
}

.tabulator-col[tabulator-field="volture meat.png"] .tabulator-col-title::before {
	background-image: url("images/volture meat.png");
}

.tabulator-col[tabulator-field="whole roasted meadow boar.png"] .tabulator-col-title::before {
	background-image: url("images/whole roasted meadow boar.png");
}

.tabulator-col[tabulator-field="wolf jerky.png"] .tabulator-col-title::before {
	background-image: url("images/wolf jerky.png");
}

.tabulator-col[tabulator-field="wolf meat.png"] .tabulator-col-title::before {
	background-image: url("images/wolf meat.png");
}

.tabulator-col[tabulator-field="wolf skewer.png"] .tabulator-col-title::before {
	background-image: url("images/wolf skewer.png");
}

.tabulator-col[tabulator-field="woodland herb blend.png"] .tabulator-col-title::before {
	background-image: url("images/woodland herb blend.png");
}

.tabulator-col[tabulator-field="yellow mushroom.png"] .tabulator-col-title::before {
	background-image: url("images/yellow mushroom.png");
}

.tabulator-col[tabulator-field="yggdrasil porridge.png"] .tabulator-col-title::before {
	background-image: url("images/yggdrasil porridge.png");
}

