body {
	transition: color 0.2s ease-out, background 0.2s ease-out;
}

.tabulator-cell svg {
	background-color: rgba(255, 255, 255, .5);
}

.tabulator-cell {
	cursor: crosshair;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
	white-space: normal;
}

.bootstrap-select {
	width: 100% !important;
}

.imgcheck {
	label {
		cursor: pointer;
		display: flex;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	img {
		border: 3px solid rgba(255, 0, 0, .25);
		border-radius: 50%;
	}

	input[type=checkbox]:checked ~ img {
		border-color: rgba(100, 200, 100, .75);
	}

	input[type=checkbox]:not(:checked) ~ span {
		color: rgba(0, 0, 0, 0.5);
	}

	input[type=checkbox]:not(:checked) ~ img {
		filter: grayscale(75%);
	}
}

.tabulator-cell div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*.full {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	padding: 100px 0 0 20px;
}*/

.meadows {
	background-color: #ffffcd;
}

.black-forest {
	background-color: #bbe33d;
}

.swamp {
	background-color: #cfe0f4;
}

.mountain {
	background-color: #dddddd;
}

.plains {
	background-color: #ffdbb6;
}

.mistlands {
	background-color: #ffc2c2;
}

.tabulator-col-title,
.tabulator-row :nth-child(1) {
	text-transform: capitalize;
}

#resourceChecks label {
	text-transform: capitalize;
}


.tabulator-col[tabulator-field="raspberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="honey"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="neck tail"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="boar meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="deer meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="fish"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="greydwarf eye"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="mushroom"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="dandelion"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="coal"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="blueberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="carrot"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="yellow mushroom"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="thistle"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="turnip"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="ooze"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="entrails"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="bloodbag"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="serpent meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="onion"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="wolf meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="freeze gland"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="cloudberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="lox meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="barley"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="egg"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="chicken meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="magecap"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="jotun puffs"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="seeker meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="hare meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="blood clot"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="sap"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="royal jelly"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="anglerfish"] .tabulator-col-title::before {
	content: '';
	width: 32px;
	height: 32px;
	background-size: 32px;
}

/* ------------------------------------------------------ */

#darkmode-toggle-container {
	position: fixed;
	top: 5px;
	right: 10px;
	z-index: 1000;
}

body {
	div.darkmode {
		display: inline-block;
		cursor: pointer;
	}
	&.dark .darkmode .light,
	&:not(.dark) .darkmode .dark {
		display: none;
	}
}

body.dark {
	.bootstrap-select>.dropdown-toggle.bs-placeholder,.bootstrap-select>.dropdown-toggle.bs-placeholder:active,.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
		color: unset;
	}

	.tabulator ,
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover,
	.tabulator-row .tabulator-cell ,
	.tabulator .tabulator-header ,
	.tabulator .tabulator-header .tabulator-col {
		background-color: #333
	}

	.imgcheck {
		input[type=checkbox]:not(:checked) ~ span {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	.tabulator-row .tabulator-cell {
		&.meadows {
			background-color: #ffffcd;
			color: black;
		}
		&.black-forest {
			background-color: #bbe33d;
			color: black;
		}
		&.swamp {
			background-color: #cfe0f4;
			color: black;
		}
		&.mountain {
			background-color: #dddddd;
			color: black;
		}
		&.plains {
			background-color: #ffdbb6;
			color: black;
		}
		&.mistlands {
			background-color: #ffc2c2;
			color: black;
		}
	}
}

/* ------------------------------------------------------ */
