.tabulator-cell svg {
	background-color: rgba(255, 255, 255, .5);
}

.tabulator-cell {
	cursor: crosshair;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
	white-space: normal;
}

.bootstrap-select {
	width: 100% !important;
}

.imgcheck img {
	border: 3px solid rgba(200, 100, 100, .75)
}

.imgcheck input[type=checkbox]:checked ~ img {
	border: 3px solid rgba(100, 200, 100, .75)
}

.tabulator-cell div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*.full {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	padding: 100px 0 0 20px;
}*/

.meadows {
	background-color: #f7f781;
}

.black-forest {
	background-color: #bbe33d;
}

.swamp {
	background-color: #b4c7dc;
}

.mountain {
	background-color: #dddddd;
}

.plains {
	background-color: #ffdbb6;
}

.mistlands {
	background-color: #ffc2c2;
}

.tabulator-col-title,
.tabulator-row :nth-child(1) {
	text-transform: capitalize;
}

#resourceChecks label {
	text-transform: capitalize;
}


.tabulator-col[tabulator-field="raspberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="honey"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="neck tail"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="boar meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="deer meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="fish"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="greydwarf eye"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="mushroom"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="dandelion"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="coal"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="blueberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="carrot"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="yellow mushroom"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="thistle"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="turnip"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="ooze"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="entrails"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="bloodbag"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="serpent meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="onion"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="wolf meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="freeze gland"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="cloudberries"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="lox meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="barley"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="egg"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="chicken meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="magecap"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="jotun puffs"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="seeker meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="hare meat"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="blood clot"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="sap"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="royal jelly"] .tabulator-col-title::before,
.tabulator-col[tabulator-field="anglerfish"] .tabulator-col-title::before {
	content: '';
	width: 32px;
	height: 32px;
	background-size: 32px;
}
