body[data-bs-theme="dark"] {
	.tabulator.table-dark {
		.tabulator-header {
			.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
				background-color: #343a40;
				color: #eee;
				border: 1px solid #666;

				&:hover {
					background-color: #051734;
				}
			}
		}

		.tabulator-row {
			.tabulator-cell {
				background-color: #343a40;
				color: #eee;
			}

			&:hover {
				.tabulator-cell {
					background-color: #051734;
				}
			}

			&.tabulator-selected {
				.tabulator-cell {
					background-color: #0F3405;
				}

				&:hover {
					.tabulator-cell {
						background-color: #1c480d;
					}
				}
			}
		}

		&.table-striped {
			.tabulator-row {
				&:nth-child(2n) {
					.tabulator-cell {
						background-color: #4c545d;
					}

					&:hover {
						.tabulator-cell {
							background-color: #051734;
						}
					}
				}

				&.tabulator-selected {
					&:nth-child(2n) {
						.tabulator-cell {
							background-color: #0F3405;
						}

						&:hover {
							.tabulator-cell {
								background-color: #1c480d;
							}
						}
					}
				}
			}
		}
	}
}